AudioOneShotMarker {
  width: 16px;
  height: 16px;
  background-image: resource("Assets/Editor/arrow_thick_16x16.png");
}

AudioOneShotMarker:focus {
  width: 16px;
  height: 16px;
  background-image: resource("Assets/Editor/arrow_thick_focus_16x16.png");
}